/* ==========================================================================
   #SECTIONS
   ========================================================================== */

$global-spacing-tiny:  rem-calc(25) !default;
$global-spacing-small: rem-calc(50) !default;
$global-spacing-medium: rem-calc(75) !default;
$global-spacing-large: rem-calc(100) !default;
$global-spacing-huge:  rem-calc(150) !default;


.o-section {

  margin-top: $global-spacing-small;
  margin-bottom: $global-spacing-small;

  @include breakpoint(medium) {
    margin-top: $global-spacing-medium;
    margin-bottom: $global-spacing-medium;
  }

  @include breakpoint(large) {
    margin-top: $global-spacing-large;
    margin-bottom: $global-spacing-large;
  }


  &--small {
    margin-top: $global-spacing-tiny;
    margin-bottom: $global-spacing-tiny;

    @include breakpoint(medium) {
      margin-top: $global-spacing-small;
      margin-bottom: $global-spacing-small;
    }

    @include breakpoint(large) {
      margin-top: $global-spacing-small;
      margin-bottom: $global-spacing-small;
    }

  }


  &--big {
    margin-top: $global-spacing-medium;
    margin-bottom: $global-spacing-medium;

    @include breakpoint(medium) {
      margin-top: $global-spacing-large;
      margin-bottom: $global-spacing-large;
    }

    @include breakpoint(large) {
      margin-top: $global-spacing-huge;
      margin-bottom: $global-spacing-huge;
    }

  }


  &--top {

    margin-top: 0;

    @include breakpoint(medium) {
      margin-top: 0;
    }

    @include breakpoint(large) {
      margin-top: 0;
    }

  }


  &--bottom {

    margin-bottom: 0;

    @include breakpoint(medium) {
      margin-bottom: 0;
    }

    @include breakpoint(large) {
      margin-bottom: 0;
    }

  }


}





.o-section-bg {

  padding-top: $global-spacing-small;
  padding-bottom: $global-spacing-small;

  @include breakpoint(medium) {
    padding-top: $global-spacing-medium;
    padding-bottom: $global-spacing-medium;
  }

  @include breakpoint(large) {
    padding-top: $global-spacing-large;
    padding-bottom: $global-spacing-large;
  }


  &--small {
    padding-top: $global-spacing-tiny;
    padding-bottom: $global-spacing-tiny;

    @include breakpoint(medium) {
      padding-top: $global-spacing-small;
      padding-bottom: $global-spacing-small;
    }

    @include breakpoint(large) {
      padding-top: $global-spacing-small;
      padding-bottom: $global-spacing-small;
    }

  }


  &--big {
    padding-top: $global-spacing-medium;
    padding-bottom: $global-spacing-medium;

    @include breakpoint(medium) {
      padding-top: $global-spacing-large;
      padding-bottom: $global-spacing-large;
    }

    @include breakpoint(large) {
      padding-top: $global-spacing-huge;
      padding-bottom: $global-spacing-huge;
    }

  }


}





/* other variants
   ========================================================================== */

