/* ==========================================================================
   #RESET
   ========================================================================== */

/**
 * Remove default table spacing.
 */

table {
  //border-collapse: collapse;
  border-spacing: 0;
}


/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */

fieldset {
  min-width: 0; /* [1] */
  border: 0;
}




*:focus {
  outline: none;
}


h1, h2, h3, h4, h5, h6 {

  &:last-child {
    margin-bottom: 0;
  }

}


p:last-child {
  margin-bottom: 0;
}


button {
  &:last-child {
    margin-bottom: 0;
  }
}
