/* ==========================================================================
   #WORDPRESS CLASSES
   ========================================================================== */

#wpadminbar {
  @include breakpoint (small down) {
    position: fixed;
  }
}


// Entry content
.entry-content {

  img {
    max-width: 100%;
    height: auto;
  }

  .alignleft, img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  .alignright, img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  .aligncenter, img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }

  video, object {
    max-width: 100%;
    height: auto;
  }

  pre {
    background: #eee;
    border: 1px solid #cecece;
    padding: 10px;
  }

}

.wp-caption {
  max-width: 100%;
  background: #eee;
  margin: rem-calc(25) 0;

  // Images inside wp-caption
  img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%;
  }

  p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center;
  }

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }

}
