/* ==========================================================================
   #BASE
   ========================================================================== */

html {
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100%;
}

html {
  @media all and (min-width: 125em) {
    font-size: 22px;
  }
}

//body::-webkit-scrollbar {
//  width: rem-calc(13);
//}
//body::-webkit-scrollbar-track {
//  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
//  background-color: $secondary-color;
//}
//body::-webkit-scrollbar-thumb {
//  transition: background-color 0.2s;
//  background-color: darken($primary-color, 5%);
//  outline: 1px solid slategrey;
//  &:hover {
//    background-color: $primary-color;
//  }
//}

::selection {
  background: $primary-color;
  color: $white;
}
::-moz-selection {
  background: $primary-color;
  color: $white;
}


a {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}


.table-wrap {
  overflow-x: auto;
  table {
    min-width: rem-calc(640);
  }
}


table {

  tr {
    td, th {

    }
  }

}


blockquote {


}