/******************************************************************

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants.

******************************************************************/


/* ========================================================================
  #OVERLAY
  ======================================================================== */

// .usage {
//   @include overlay();
// }

@mixin overlay() {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* ========================================================================
  #BACKGROUND
  ======================================================================== */

@mixin background($position: 50% 50%, $size: cover) {
	background-position: $position;
	background-size: $size;
	background-repeat: no-repeat;
}


/* ========================================================================
  #GRADIENT
  ======================================================================== */

@mixin gradient($from: #dfdfdf, $to: #f8f8f8) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
}


/* ========================================================================
  #CLEARFIX
  ======================================================================== */

// Mixin to drop micro clearfix into a selector. Further reading:
// http://www.cssmojo.com/the-very-latest-clearfix-reloaded/
//
// .usage {
//   @include clearfix();
// }

@mixin clearfix() {

	&:after {
		content: "";
		display: block;
		clear: both;
	}

}


/* ========================================================================
  #COLUMNS
  ======================================================================== */

@mixin column-gutter() {
	padding-left: rem-calc(map-deep-get($grid-column-gutter, small) / 2);
	padding-right: rem-calc(map-deep-get($grid-column-gutter, small) / 2);
	@include breakpoint(medium) {
		padding-left: rem-calc(map-deep-get($grid-column-gutter, medium) / 2);
		padding-right: rem-calc(map-deep-get($grid-column-gutter, medium) / 2);
	}
}


/* Multiple Columns
   ========================================================================== */

@mixin multiple-columns($number: 2, $breakpoint: small) {

	@include breakpoint($breakpoint) {
		-webkit-column-count: $number;
		-moz-column-count: $number;
		column-count: $number;

		& > * {
			-webkit-column-break-inside: avoid;
			page-break-inside: avoid;
			break-inside: avoid;
		}

	}

}


/* Grid At least
   ========================================================================== */

/*
@include at-least(2) {
    width: 50%;
}
@include at-least(3) {
    width: 33.33333%;
}
@include at-least(4) {
    width: 25%;
}
*/

@mixin has-nth($expression, $element: '*') {
	&:nth-last-child(#{$expression}):first-child,
	&:nth-last-child(#{$expression}):first-child ~ #{$element} {
		@content;
	}
}

@mixin at-least($quantity, $element: '*') {
	@include has-nth('n + #{$quantity}', $element) {
		@content;
	}
}


/* ========================================================================
  #MEDIA QUERIES
  ======================================================================== */

@mixin landscape($value: 47.5em) { //max 760px
	@media screen and (max-width: #{$value}) and (orientation: landscape) {
		@content;
	}
}


/* ========================================================================
  #FLEXBOX
  ======================================================================== */

@mixin flexbox() {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}


/* ========================================================================
  #RESPONSIVE EMBED
  ======================================================================== */

@function ratio-to-percentage($ratio) {
	$w: nth($ratio, 1);
	$h: nth($ratio, 3);
	@return $h / $w * 100%;
}
//Creates a responsive embed container.
@mixin responsive-embed($ratio: default) {
	@if type-of($ratio) == 'string' {
		$ratio: map-get($responsive-embed-ratios, $ratio);
	}
	position: relative;
	height: 0;
	margin-bottom: $responsive-embed-margin-bottom;
	padding-bottom: ratio-to-percentage($ratio);
	overflow: hidden;
}