/* ==========================================================================
   #MENU GENERIC
   ========================================================================== */

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;

  .menu-item {
    position: static;
    display: block;
    margin: 0;

    font-size: inherit;
    font-weight: inherit;

    &:before {
      display: none;
    }
  }

  //a {
  //  color: inherit;
  //}

  &.horizontal {
    .menu-item {
      display: inline-block;

      &:not(:first-child) {
        padding-left: rem-calc(10);
      }
      &:not(:last-child) {
        padding-right: rem-calc(10);
      }

    }
    @include breakpoint(small down) {
      .menu-item {

        &:not(:last-child) {
          padding-right: 0;
        }

      }
    }

  }

  &.medium-horizontal {

    @include breakpoint(medium) {
      .menu-item {
        display: inline-block;

        &:not(:first-child) {
          padding-left: rem-calc(10);
        }
        &:not(:last-child) {
          padding-right: rem-calc(10);
        }

      }
    }


  }

  &.large-horizontal {

    @include breakpoint(large) {
      .menu-item {
        display: inline-block;

        @include breakpoint(xlarge) {
          &:not(:first-child) {
            padding-left: rem-calc(10);
          }
          &:not(:last-child) {
            padding-right: rem-calc(10);
          }
        }

      }
    }

  }

}


/*** MENU RWD ***/
.menu-rwd {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  @include breakpoint(large) {
    display: block !important;
    position: static;
    top: 0;
  }
}


/*** MENU TOGGLER ***/
.menu-toggler {
  font-size: rem-calc(30);
  color: $secondary-color;
  cursor: pointer;
}

