/* ==========================================================================
   #PRELOADER
   ========================================================================== */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999999999999999;
  width: 100%;
  height: 100%;
  background: transparentize($primary-color, 0.04);
  text-align: center;
}





/* Style variants
   ========================================================================== */

.preloader4 {
  margin-left: auto;
  margin-right: auto;
  width: rem-calc(50);
  height: rem-calc(50);
  display:inline-block;
  padding:0px;
  border-radius:100%;
  border:4px solid;
  border-top-color:rgba(255,255,255, 0.65);
  border-bottom-color:rgba(255,255,255, 0.15);
  border-left-color:rgba(255,255,255, 0.65);
  border-right-color:rgba(255,255,255, 0.15);
  -webkit-animation: preloader4 0.8s linear infinite;
  animation: preloader4 0.8s linear infinite;
}
@keyframes preloader4 {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@-webkit-keyframes preloader4 {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}



.preload {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  //margin: -42px 0 0 -12px;
  background: #fff;
  transform: rotate(45deg);
  transform-origin: center;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  0% { -webkit-transform:rotate(0deg); }
  100% { -webkit-transform:rotate(360deg); }
}