/* ==========================================================================
   #MAPA
   ========================================================================== */

.mapa {
  height: rem-calc(500);
  position: relative;
  overflow: hidden;
}
#google-maps {
  width: 100%;
  height: 100%;
}

.windowMap {
  max-width: rem-calc(300);
  //opacity: 0;
  //position: absolute;
  padding: rem-calc(25) 0 rem-calc(25) rem-calc(20);
  font-size: rem-calc(16);
  font-family: $body-font-family !important;
  a {
    color: $white;
    background: $black;
    display: block;
  }

  input {
    display: block;
    width: 100%;
    height: rem-calc(45);
    line-height: rem-calc(45);
    padding-top: 0;
    padding-bottom: 0;
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
    border: 1px solid #d7d7d7;
    box-shadow: none;
    margin-bottom: rem-calc(10);

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $black;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $black;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $black;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $black;
    }

    &:focus,
    &:active {
      border: 1px solid #d7d7d7;
      box-shadow: none;
      background-color: none;
      color: $black;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: transparent;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: transparent;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: transparent;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: transparent;
      }
    }

  }



  button {
    display: block;
    width: 100%;
    color: $white;
    background: $primary-color;
    padding: rem-calc(15);
    padding-top: rem-calc(2);
    padding-bottom: 0;
    height: rem-calc(45);
    line-height: rem-calc(45);
    text-transform: uppercase;
    font-weight: 600;
    font-size: rem-calc(18);
    text-align: center;
    cursor: pointer;
    transition: $global-transition;
    &:hover {
      background-color: $secondary-color;
    }
  }


}