/* ==========================================================================
   #LAVALAMP
   ========================================================================== */

@include breakpoint(large) {
  .js-lavalamp {
    position: relative;
  }
  .lavalamp-object {
    position: absolute;
    bottom: 0;
    height: rem-calc(3);
    background-color: $secondary-color;
  }
}