/* ==========================================================================
   #ROZWIJANE BOKSY
   ========================================================================== */

.js-boxes {

  &-wrap {



  }
  &-item {

    &.box-opened {
      //po kliknięciu
    }
    &.opened {
      //po skończeniu animacji
    }

  }
  &-open {
    cursor: pointer;
  }
  &-expanded {
    height: 0;
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    left: 0;
    right: 0;
  }

  .padder {
    display: block;
    clear: both;
  }

}


.box-content-row {
  max-width: $global-width;
  margin-left: auto;
  margin-right: auto;
}