/* ==========================================================================
   #COLORS
   ========================================================================== */


/* Text color
   ========================================================================== */

/**
 *   <div class="u-color-primary"></h2>
 *   <div class="u-color-secondary"></h2>
 */

@each $name, $color in $foundation-palette {

  &.u-color-#{$name} {
    color: $color;
  }

}





/* Background color
   ========================================================================== */

/**
 *   <div class="u-bg-primary"></h2>
 *   <div class="u-bg-secondary"></h2>
 */

@each $name, $color in $foundation-palette {

  &.u-bg-#{$name} {
    background-color: $color;
  }

}