/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Redefine all of our basic heading styles against utility classes so as to
 * allow for double stranded heading hierarchy, e.g. we semantically need an H2,
 * but we want it to be sized like an H1:
 *
 *   <h2 class="u-h1"></h2>
 */



$header-styles: (
        small: (
                'h1': ('font-size': 24, 'line-height': $header-lineheight, 'font-weight': $global-weight-bold, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
                'h2': ('font-size': 20, 'line-height': $header-lineheight, 'font-weight': $global-weight-bold, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
                'h3': ('font-size': 19, 'line-height': $header-lineheight, 'font-weight': $header-font-weight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
                'h4': ('font-size': 18, 'line-height': $header-lineheight, 'font-weight': $header-font-weight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
                'h5': ('font-size': 17, 'line-height': $header-lineheight, 'font-weight': $header-font-weight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
                'h6': ('font-size': 16, 'line-height': $header-lineheight, 'font-weight': $header-font-weight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
        ),
        medium: (
                'h1': ('font-size': 48, 'line-height': $header-lineheight, 'font-weight': $global-weight-bold, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
                'h2': ('font-size': 40, 'line-height': $header-lineheight, 'font-weight': $global-weight-bold, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
                'h3': ('font-size': 31, 'line-height': $header-lineheight, 'font-weight': $header-font-weight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
                'h4': ('font-size': 25, 'line-height': $header-lineheight, 'font-weight': $header-font-weight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
                'h5': ('font-size': 20, 'line-height': $header-lineheight, 'font-weight': $header-font-weight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
                'h6': ('font-size': 16, 'line-height': $header-lineheight, 'font-weight': $header-font-weight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
        ),
) !default;



@mixin header-size($type) {

  font-size: rem-calc(map-deep-get($header-styles, small, $type, font-size));
  line-height: map-deep-get($header-styles, small, $type, line-height);
  font-weight: map-deep-get($header-styles, small, $type, font-weight);
  margin-top: rem-calc(map-deep-get($header-styles, small, $type, margin-top));
  margin-bottom: rem-calc(map-deep-get($header-styles, small, $type, margin-bottom));

  @include breakpoint(medium) {
    font-size: rem-calc(map-deep-get($header-styles, medium, $type, font-size));
    line-height: map-deep-get($header-styles, medium, $type, line-height);
    font-weight: map-deep-get($header-styles, medium, $type, font-weight);
    margin-top: rem-calc(map-deep-get($header-styles, medium, $type, margin-top));
    margin-bottom: rem-calc(map-deep-get($header-styles, medium, $type, margin-bottom));
  }

}



h1, .u-h1 {
   @include header-size(h1);
 }

h2, .u-h2 {
  @include header-size(h2);
}

h3, .u-h3 {
  @include header-size(h3);
}

h4, .u-h4 {
  @include header-size(h4);
}

h5, .u-h5 {
  @include header-size(h5);
}

h6, .u-h6 {
  @include header-size(h6);
}



