/* ==========================================================================
   #GENERIC
   ========================================================================== */

.u-relative {
  position: relative;
}


.u-uppercase {
  text-transform: uppercase;
}


.u-hidden {
  display: none;
}


.u-overflow-hidden {
  overflow: hidden;
}


.u-block {
  display: block;
}


.u-inline-block {
  display: inline-block;
}


.u-line-through {
  text-decoration: line-through;
}

.u-float-left {
  float: left;
}

.u-float-right {
  float: right;
}

.u-img-bg {
  background-color: $light-gray;
  @include background(center, cover);
}

.u-square {
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%;
  }
}
